<div class="bg-white items-center" style="padding-top: 40px;">
    <div class="destination-title">
        <p class="text-center section-title">Top Selling</p>
        <h1 class="text-center section-headline">Top Destinations</h1>
    </div>
    <div class="destination-content" style="margin-top: 30px;">
        <div class="mx-auto flex justify-between">
            <div class="flex-1 card-destination">
                <a href="#" class="group rounded-b-2xl shadow-lg card-destination block">
                    <img src="public/assets/images/destinations/Roman.png" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="aspect-square w-30 rounded-2xl bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
                    <div class="bg-white card-destination-content py-4 px-6">
                        <div class="flex justify-between items-center" style="padding-top: 25px;">
                            <h2 class="font-medium text-lg">Rome, Italy</h2>
                            <span class="font-medium text-sm">$5,42k</span>
                        </div>
                        <div class="flex items-center gap-2 mt-2 bg-white" style="padding-top: 5%; padding-bottom: 25%;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                <path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                              </svg>                              
                            <p class="text-sm text-gray-500">10 Days trip</p>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="flex-1 card-destination">
                <a href="#" class="group rounded-b-2xl shadow-lg card-destination block">
                    <img src="public/assets/images/destinations/London.jpg" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="aspect-square w-30 rounded-2xl bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
                    <div class="bg-white card-destination-content py-4 px-6">
                        <div class="flex justify-between items-center" style="padding-top: 25px;">
                            <h2 class="font-medium text-lg">London, UK</h2>
                            <span class="font-medium text-sm">$4.2k</span>
                        </div>
                        <div class="flex items-center gap-2 mt-2 bg-white" style="padding-top: 5%; padding-bottom: 25%;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                <path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                              </svg>                              
                            <p class="text-sm text-gray-500">12 Days trip</p>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="flex-1 card-destination">
                <a href="#" class="group rounded-b-2xl shadow-lg card-destination block">
                    <img src="public/assets/images/destinations/Europe.png" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="aspect-square w-30 rounded-2xl bg-gray-200 object-cover group-hover:opacity-75 xl:aspect-7/8">
                    <div class="bg-white card-destination-content py-4 px-6">
                        <div class="flex justify-between items-center" style="padding-top: 25px;">
                            <h2 class="font-medium text-lg">Full Europe</h2>
                            <span class="font-medium text-sm">$15k</span>
                        </div>
                        <div class="flex items-center gap-2 mt-2 bg-white" style="padding-top: 5%; padding-bottom: 25%;">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-5">
                                <path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
                              </svg>                              
                            <p class="text-sm text-gray-500">28 Days trip</p>
                        </div>
                    </div>
                </a>
            </div>        
             
        </div>
    </div>
</div>