<footer class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 bg-white justify-between style="font-family: 'Poppins';">
    <div class="container flex mx-auto px-4">
      <div class="flex-1 px-6" style="max-width: 300px;">
        <h1 class="font-bold" style="color: var(--primary-color);font-size: 44px;">
          Jadoo
        </h1>
        <p class="mt-2">
          Book your trip in minute, get full
          Control for much longer.
        </p>
      </div>
      <div class="flex-1 px-6 text-center">
        <div class="flex">
          <div class="flex-1 company">
            <h1 class="font-bold" style="color: var(--primary-color);">
              Company
            </h1>
            <ul class="group">
              <li class="py-2">
                <a href="#">About</a>
              </li>
              <li class="py-2">
                <a href="#">Careers</a>
              </li>
              <li class="py-2">
                <a href="#">Mobile</a>
              </li>
            </ul>
          </div>
          <div class="flex-1 contact">
            <h1 class="font-bold" style="color: var(--primary-color);">
              Contact
            </h1>
            <ul class="group">
              <li class="py-2">
                <a href="#">Help/FAQ</a>
              </li>
              <li class="py-2">
                <a href="#">Press</a>
              </li>
              <li class="py-2">
                <a href="#">Affilates</a>
              </li>
            </ul>
          </div>
          <div class="flex-1 more">
            <h1 class="font-bold" style="color: var(--primary-color);">
              More
            </h1>
            <ul class="group">
              <li class="py-2">
                <a href="#">Airlinefees</a>
              </li>
              <li class="py-2">
                <a href="#">Airline</a>
              </li>
              <li class="py-2">
                <a href="#">Low fare tips</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex-1 px-6" style="max-width: 300px;">
          <div class="flex social-media">
            <div class="flex-1">
              <a href="#">
                <img src="public/assets/images/social-media/Facebook.png" alt="">
              </a>
            </div>
            <div class="flex-1">
               <a href="#">
                 <img src="public/assets/images/social-media/Instagram.png" alt="">
               </a>
            </div>
            <div class="flex-1">
              <a href="#">
                <img src="public/assets/images/social-media/Twitter.png" alt="">
              </a>
            </div>
          </div>
          <p class="py-3">Discover our app</p>
          <div class="flex justify-between discover-our-app">
            <div class="flex-1">
              <img src="public/assets/images/social-media/Play-Store.png">
            </div>
            <div class="flex-1">
              <img src="public/assets/images/social-media/Apple-Store.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-700 pt-6 text-center text-sm" style="margin-top: 5rem">
     All rights reserved @jadoo.co
    </div>
  </footer>
  