<div class="hero-content pt-20">  
   
    <div class="relative mx-auto max-w-7xl px-6">
      <div class="relative mx-auto flex items-center">

          <div class="relative flex-1 w-50 -mr-20 z-10 hero-desc">
            <div class="tagline">
                <h1>Best Destinations around the world</h1>
            </div>
            <div class="heading mt-10">
                <p>
                    Travel, enjoy
                    and live a new
                    and full life
                </p>
            </div>
            <div class="description mt-10">
                <p class="text-base font-normal text-gray-500" style="line-height: 30px;">Built Wicket longer admire do barton vanity itself do in it. Preferred to sportsmen it engrossed listening. Park gate sell they west hard for the.</p>
            </div>
            <div class="cta mt-10 flex">
                <a href="" class="text-white rounded-lg p-3 cta-btn--yellow" style="margin-right: 20px;">find out more</a>
                <a href="#" class="cta-link text-gray-500">
                    <span class="cta-btn cta-btn--orange">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
                        </svg>
                    </span>
                    <span class="cta-text">Play Demo</span>
                </a>
            </div>
          </div>
          <div class="relative flex-1 w-50 hero-image">
            <img src="public/assets/images/Traveller-Plane.png" alt="">
          </div>
      </div>
    </div>
</div>